@charset uft-8;
/*登录*/
.log_box{background: #fff;width: 300px;height: 260px;background: #fff;padding:35px 25px;position: absolute;right: 200px;top: 50%;margin-top: -180px;}
.log_box h3,.reg_box h3,.fid_box h3{font-size:20px;text-align:left;color: #ff5722;height: 65px;line-height: 65px;}
.log_acc,.log_pwd,.log_pwd_1{width: 300px;float: left;overflow: hidden;border:1px solid #bfc0bf;height: 35px;}
.log_acc div,.log_pwd div{width: 25px;height: 25px;background: url('../images/001.png') no-repeat;background-size: 100px 19px;overflow: hidden;background-position: 3px 4px;float: left;margin: 5px;}
.log_acc input,.log_pwd input,.log_pwd_1 input{height: 25px;padding-top:5px;width: 240px;border:none;border-left: 1px solid #ddd;padding-left:6px;color: #ccc;font-size: 12px;}
.log_pwd{margin-top: 15px;}
.log_pwd div{background: url('../images/001.png') no-repeat;background-size: 100px 19px;background-position: -24px 4px;}
.log_but{width: 300px;height: 35px;background: #f60;float: left;color: #fff;text-align: center;font-size: 16px;line-height: 35px;margin-top: 25px;}
.log_link{width: 300px;float: left;overflow: hidden;margin-top: 10px;}
.log_link a{font-size: 12px;}
.log_link .log_reg {color: #29a2ff;float: left;}
.log_link .log_for{color: #999;float: right;}

/*注册*/
.reg_box{background: #fff;width: 300px;height:400px;background: #fff;padding:35px 25px;position: absolute;right: 200px;top: 50%;margin-top: -230px;}
.log_pwd_1{margin-top: 15px;}
.log_pwd_1 div{width: 25px;height: 25px;float:left;background: url('../images/001.png') no-repeat;background-size: 100px 19px;background-position: -24px 4px;margin: 5px;}
.reg_txt{font-size: 12px; text-align:left;color: #f60;margin-top: 5px;width: 100%;float: left;overflow: hidden;}
.reg_code{width: 300px;height: 35px;float: left;overflow: hidden;margin-top: 15px;}
.reg_code .reg_cinput{width: 200px;float: left;border:1px solid #bfc0bf;height: 33px;}
.reg_code .reg_cinput div{width: 25px;height: 25px;background: url('../images/001.png') no-repeat;background-size: 100px 19px;overflow: hidden;background-position: -74px 4px;float: left;margin: 5px;}
.reg_code .reg_cinput input{padding-top:5px;border:none;width: 150px;color: #ccc;font-size: 12px;border-left: 1px solid #ddd;height: 25px;padding-left: 6px;}
.reg_code .reg_cget{width: 90px;float: left;background: #f60;font-size: 12px;color: #fff;text-align: center;height: 35px;line-height: 35px;margin-left: 8px;}
.reg_clause{width: 300px;float: left;overflow: hidden;font-size: 12px;margin-top: 5px;}
.reg_clause a{color:#f60;}
.reg_clause input,.reg_clause div{float: left;}
.reg_clause div{margin-left: 5px;line-height: 15px;}

/*忘记密码*/
.fid_box{width: 600px;margin:15px auto 0 auto;background: #fff;overflow: hidden;padding:35px 0  0 78px;height: 400px;}
.fid_tel,.fid_code{width: 100%;float: left; text-align: left;margin-top: 15px;}
.fid_tel div{font-size: 14px;color: #333;float: left;line-height: 35px;width: 90px;text-align: right;}
.fid_tel input{width: 300px;border:1px solid #ddd;height: 35px;line-height: 35px;margin-left: 15px;padding-left: 6px;color: #999;font-size: 14px;}
.fid_tel input.error,.fid_code input.error,.log_acc.error,.log_pwd.error,.log_pwd_1.error{border:1px solid #f60;}
.fid_code div.fid_ctxt{float: left;width: 90px;font-size: 14px;color: #333;line-height: 35px;text-align: right;}
.fid_code input{width: 200px;height: 35px;line-height: 35px;float: left;border:1px solid #ddd;margin-left: 15px;color: #999;padding-left: 6px;}
.fid_cbut{width: 90px;height: 37px;line-height: 37px;color: #fff;text-align: center;background: #f60;float: left;font-size:14px;margin-left: 10px;}
.fid_but{width: 312px;float:left;height: 37px;line-height: 37px;color: #fff;font-size: 16px;background: #f60;text-align: center;margin:45px 0 0 90px;}
.fid_tel span{font-size: 14px;color: #f60;}
.error{color: #f60;text-align: left;}